.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 236px;
    height: 53px;
    margin-right: 8px;
  }
  
  .navigation a {
    margin: 0 12px;
    text-decoration: none;
    color: #521d16;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease;
    padding: 20px;
    border-bottom: 1pix solid #fff;
    /* transition: background-color 0.2s ease-in, border-bottom 0.5s ease-in; */
  }
  
  .navigation a:hover {
    background-color: #f3f3f3;
    border-bottom: 1px solid #521d16;
  }

@media (max-width: 768px) {
  .logo img {
    display: none;
  }

  .navigation a {
    margin: 0 5px;
    font-size: 0.7rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .header {
    justify-content: center;
  }
}